body {
  background-image: url("http://eskipaper.com/images/amazing-mountain-scenery-1.jpg");
  background-repeat: no-repeat;
  background-size: cover 100%;
  background-position: left top;
  max-height: 100%;
  max-width: 100%;
}

.navbar-brand #title{
  display: inline-block;
  text-align: left;
}

div.form-group {
  width: 100%;
}

div.form-group label {
  color: white;
}

#formWrapper h2 {
  color: white;
  text-align: center;
  font-family: 'Old Standard TT', serif;
}

select#state.form-control {
  width: 100%;
}

#title {
  font-family: 'Permanent Marker', cursive;
  font-size: 75px;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  text-shadow: 1.5px 1.5px rgb(88, 32, 0);
}



.menuText {
  position: absolute;
  z-index: 100;
  top: 140px;
  font-family: 'Permanent Marker', cursive;
  color: white;
  background-color: #492202;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}



#footer {
  font-size: 20px;
  color: white;
  font-family: 'Old Standard TT', serif;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

/*/////////////GOOGLE FONT CSS///////////////*/
/* font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif; */


/*////////////////PACKERY CSS////////////////*/
.moveMenuText {
  position: relative;
}

.grid-item {
  margin: 5px;
  border-radius: 5px;
}
.grid-item img {
  border-radius: 10px;
}

/*/////PACKERY CSS FROM JQUERY UI DRAGGABLE///////////*/

* { box-sizing: border-box; } 


/* ---- grid ---- */

.grid {
  max-width: 450px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: 200px;
  height: 200px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.grid-item--width2 { width: 200px; }
.grid-item--height2 { height: 200px; }

.grid-item:hover {
  border-color: hsla(0, 0%, 100%, 0.5);
  cursor: move;
}

.grid-item.ui-draggable-dragging,
.grid-item.is-positioning-post-drag {
  background: #C90;
  z-index: 2;
}

.packery-drop-placeholder {
  outline: 3px dashed hsla(0, 0%, 0%, 0.5);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}

#responseTitles {
  color: #492202;
  font-family: 'Permanent Marker', cursive;
}

#responseInfo {
  color: #492202;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#insertParkInfoHere {
  background-color: #c5a56d;
  color: #492202;
  padding: 15px;
  border: 2px solid #492202;
  border-radius: 10px;
  min-height: 425px;
}