body {
  background-image: url("http://eskipaper.com/images/amazing-mountain-scenery-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  max-height: 100%;
  max-width: 100%;
}

.navbar-brand #title{
  display: inline-block;
  text-align: left;
}

div.form-group {
  width: 100%;
}

div.form-group label {
  color: white;
}

#formWrapper h2 {
  color: white;
  text-align: center;
  font-family: 'Old Standard TT', serif;
}

select#state.form-control {
  width: 100%;
}

#title {
  font-family: 'Permanent Marker', cursive;
  font-size: 75px;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  text-shadow: 1.5px 1.5px rgb(88, 32, 0);
}



.menuText {
  position: absolute;
  z-index: 100;
  top: 140px;
  font-family: 'Permanent Marker', cursive;
  color: white;
  background-color: #492202;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}

#guestAccess {
margin-top: 30px;
margin-right: 30px;
background-color: #492202;
transition: background-color 0.5s ease;
}
#guestAccess:hover {
  background-color: #723707;
  }
#login {
  background-color: #492202;
  transition: background-color 0.5s ease;
  border: 0px;
  color: white;
  cursor: pointer;
}
#register {
  cursor: pointer;
  color: white;
}
.nav-link {
  background-color: #492202;
  transition: background-color 0.5s ease;
  border: 0px;
  color: white;
}
#requestAuth {
  margin-top: 30px;
  margin-right: 30px;
  background-color: #492202;
  transition: background-color 0.5s ease;
  border: 0px;
  color: white;
}
#requestAuth:hover {
  background-color: #723707;
}
#browseStateBtn {

  background-color: #492202;
  transition: background-color 0.5s ease;
  border: 0px;
  color: white;
}
#browseStateBtn:hover {
  background-color: #723707;
}
#browseParkBtn {

  background-color: #492202;
  transition: background-color 0.5s ease;
  border: 0px;
  color: white;
}
#browseParkBtn:hover {
  background-color: #723707;
}
#randomParkBtn {

  background-color: #492202;
  transition: background-color 0.5s ease;
  border: 0px;
  color: white;
}
#randomParkBtn:hover {
  background-color: #723707;
}
#searchBtn, #directionsBtn, #eventsBtn, #shareBtn, #hotelBtn, #gasBtn, #foodBtn, #convienceStoreBtn, #sportBtn {
  cursor: pointer;
}

#footer {
  font-size: 20px;
  color: white;
  font-family: 'Old Standard TT', serif;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

/*/////////////GOOGLE FONT CSS///////////////*/
/* font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif; */


/*////////////////PACKERY CSS////////////////*/
.moveMenuText {
  position: relative;
}

.grid-item {
  margin: 5px;
  border-radius: 5px;
}
.grid-item img {
  border-radius: 10px;
}

/*/////PACKERY CSS FROM JQUERY UI DRAGGABLE///////////*/

* { box-sizing: border-box; } 


/* ---- grid ---- */

.grid {
  width: 500px;
  height: 100px;
}
.fb-share-button {
  display: inline-block;
}
#menu {
  width: 100%;
  border-radius: 10px;
  background-color: #492202;
  color: white;
  margin-bottom: 15px;

}

/* clear fix */
/* .grid:after {
  content: '';
  display: block;
  clear: both;
} */

/* ---- .grid-item ---- */

.gutter-sizer { width: 4.5%; }
.grid-sizer { width: 50%; }


.grid-item {
  float: left;
  width: 200px;
  height: 200px;
  border: 2px solid #492202;
  border-radius: 10px;
}

#navBar {
  background-color: #492202;
}

.grid-item--width2 { width: 200px; }
.grid-item--height2 { height: 200px; }

.grid-item:hover {
  border-color: #723707;
  cursor: move;
}

.grid-item.ui-draggable-dragging,
.grid-item.is-positioning-post-drag {
  background: #C90;
  z-index: 0;
}

.packery-drop-placeholder {
  border-radius: 10px;
  outline: 3px dashed #492202;
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
  
}

.form-control {
color: #c5a56d
}

.responseTitle {
  color: #492202;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}

.responseInfo {
  color: #492202;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
}


#dynamicContent {
  background-color: #c5a56d;
  color: #492202;
  padding: 15px;
  border: 2px solid #492202;
  border-radius: 10px;
  min-height: 400px;   
  /* overflow-y : scroll; */
}

.box-content{
  min-height: 400px;    
}
/* width */
.box-content::-webkit-scrollbar {
  width: 10px;
}
/* Track */
.box-content::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
.box-content::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
.box-content::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* .box-content {
  height: 390px;
  overflow: auto;
  border-radius: 8px;
} */
/* #dynamicContent::-webkit-scrollbar {
    width: 20px;
}
#dynamicContent::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
#dynamicContent::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}
#dynamicContent::-webkit-scrollbar-thumb:hover  {
    background: #333;
} */


.api-call {
  cursor: pointer;
  color: #492202;
  text-decoration: underline;
}

.nav-link {
  color: white;
  text-decoration-style: solid;
}